.button {
    padding: 11px 25px 13px;
    font-weight: 600;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.2rem;
    cursor: pointer;
    transition: all .3s;

    &_bordered {
        color: $color-text;
        background: $color-light;
        border: 1px solid $color-border;

        &:hover {
            background: $color-hovered;
            border-color: $color-hovered;
        }
    }

    &_colored {
        color: $color-light;
        background: $color-primary;
        border: 1px solid $color-primary;

        &:hover {
            background: $color-additional;
            border-color: $color-additional;
        }
    }
}

.header__buttons > .button {
    margin-left: 14px;
}
.header__buttons > .button:first-child {
    margin-left: 0px;
}