%hamburger-line {
    position: absolute;
    display: inline-flex;
    background: #173A56;
    border-radius: 5px;
    height: 3px;
    width: 100%;
}

.hamburger {
    display: none;
    position: relative;
    width: 31px;
    height: 25px;
    cursor: pointer;

    @include media-tablet {
        display: inline-block;
    };

    &:before {
        content: '';
        @extend %hamburger-line;
        top: 0;
    }

    &:after {
        content: '';
        @extend %hamburger-line;
        bottom: 0;
    }

    &__line {
        @extend %hamburger-line;
        top: calc( 50% - 1.5px);
    }
}