.promo {
    padding-top: 30px;
}

.promo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo__content {
    padding-right: 65px;
}

.promo__buttons >* {
    margin-right: 44px;
} 