.promo {
    padding-top: 30px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        margin: 0 0 30px;
    }

    &__text {
        margin: 0 0 45px;
        max-width: 489px;
        @extend %font-add;
        @include font(1.8rem, 2.8rem, normal);
    }

    &__content {
        padding-right: 65px;
        max-width: 489px;
    }

    &__buttons >* {
        margin-right: 44px;
    } 
}