.tools__container {
    padding-bottom: 90px;
    background-image: url('../../img/backgrounds/tools-bg.svg');
    background-position: center bottom ;
    background-size: 100%;
    background-repeat: no-repeat;
}
.tool h4 {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 462px;
}
.tools-button {
    margin-top: 30px;
    text-align: center;
}