.layout-4-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .layout-4-column > * {
    flex-basis: 21%;
  }
  
  .layout-3-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .layout-3-column > * {
    flex-basis: 30%;
  }
  
  .layout-2-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .layout-2-column > * {
    flex-basis: 48%;
  }